Pattern/bin/Debug/net8.0/Pattern
Pattern/bin/Debug/net8.0/Pattern.deps.json
Pattern/bin/Debug/net8.0/Pattern.dll
Pattern/bin/Debug/net8.0/Pattern.pdb
Pattern/bin/Debug/net8.0/Pattern.runtimeconfig.json
ReverseArray/bin/Debug/net8.0/ReverseArray
ReverseArray/bin/Debug/net8.0/ReverseArray.deps.json
ReverseArray/bin/Debug/net8.0/ReverseArray.dll
ReverseArray/bin/Debug/net8.0/ReverseArray.pdb
ReverseArray/bin/Debug/net8.0/ReverseArray.runtimeconfig.json
ReverseArray/bin/Debug/net8.0/ReverseArray
ReverseArray/bin/Debug/net8.0/ReverseArray.deps.json
ReverseArray/bin/Debug/net8.0/ReverseArray.dll
ReverseArray/bin/Debug/net8.0/ReverseArray.pdb
ReverseArray/bin/Debug/net8.0/ReverseArray.runtimeconfig.json
ReverseArray/obj/project.assets.json
ReverseArray/obj/project.nuget.cache
ReverseArray/obj/ReverseArray.csproj.nuget.dgspec.json
ReverseArray/obj/ReverseArray.csproj.nuget.g.props
ReverseArray/obj/ReverseArray.csproj.nuget.g.targets
ReverseArray/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ReverseArray/obj/Debug/net8.0/apphost
ReverseArray/obj/Debug/net8.0/ReverseArray.AssemblyInfo.cs
ReverseArray/obj/Debug/net8.0/ReverseArray.AssemblyInfoInputs.cache
ReverseArray/obj/Debug/net8.0/ReverseArray.assets.cache
ReverseArray/obj/Debug/net8.0/ReverseArray.csproj.CoreCompileInputs.cache
ReverseArray/obj/Debug/net8.0/ReverseArray.csproj.FileListAbsolute.txt
ReverseArray/obj/Debug/net8.0/ReverseArray.dll
ReverseArray/obj/Debug/net8.0/ReverseArray.GeneratedMSBuildEditorConfig.editorconfig
ReverseArray/obj/Debug/net8.0/ReverseArray.genruntimeconfig.cache
ReverseArray/obj/Debug/net8.0/ReverseArray.GlobalUsings.g.cs
ReverseArray/obj/Debug/net8.0/ReverseArray.pdb
ReverseArray/obj/Debug/net8.0/ref/ReverseArray.dll
ReverseArray/obj/Debug/net8.0/refint/ReverseArray.dll
Pattern/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Pattern/obj/Debug/net8.0/apphost
Pattern/obj/Debug/net8.0/Pattern.AssemblyInfo.cs
Pattern/obj/Debug/net8.0/Pattern.AssemblyInfoInputs.cache
Pattern/obj/Debug/net8.0/Pattern.assets.cache
Pattern/obj/Debug/net8.0/Pattern.csproj.CoreCompileInputs.cache
Pattern/obj/Debug/net8.0/Pattern.csproj.FileListAbsolute.txt
Pattern/obj/Debug/net8.0/Pattern.dll
Pattern/obj/Debug/net8.0/Pattern.GeneratedMSBuildEditorConfig.editorconfig
Pattern/obj/Debug/net8.0/Pattern.genruntimeconfig.cache
Pattern/obj/Debug/net8.0/Pattern.GlobalUsings.g.cs
Pattern/obj/Debug/net8.0/Pattern.pdb
Pattern/obj/Debug/net8.0/ref/Pattern.dll
Pattern/obj/Debug/net8.0/refint/Pattern.dll
Pattern/obj/Pattern.csproj.nuget.dgspec.json
Pattern/obj/Pattern.csproj.nuget.g.props
Pattern/obj/Pattern.csproj.nuget.g.targets
Pattern/obj/project.assets.json
Pattern/obj/project.nuget.cache
AccessModifier/bin
AccessModifier/obj
RemoveDuplicateArrayElements/bin
RemoveDuplicateArrayElements/obj
